<h1 style="color:blue;">Ingrese datos con imagen</h1>
<br>

<form action="/personas_imagenes" method="post" enctype="multipart/form-data">

    <!-- <div class="form-group">
        <label for="nombre"><b>Nombre</b></label>
        <input id="nombre" class="form-control" type="text" name="nombre">
    </div>

    <div class="form-group">
        <label for="apellido"><b>Apellido</b></label>
        <input id="apellido" class="form-control" type="text" name="apellido">
    </div>
-->
<div class="form-group">
    <label for="apellido"><b>Apellido</b></label>
    <input id="apellido" class="form-control" type="text" name="apellido">
</div>
    <p>
        
        <input type="file" name="myFile">

    <button class="btn btn-success mt-3 mb-5">Enviar</button>
</form>